.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  max-width: 85%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 2rem;
  padding-top: 6rem;
}

.cart-container {
  background-color: #ff99004d;
}

.pagination {
  margin: 0 auto;
  padding: 2rem 0;
}

.pagination button {
  margin-right: 10px;
}

.pagination .selected {
  background-color: goldenrod;
  border: gold;
  font-weight: bold;
  width: 30px;
  padding: 8px;
}

.btn-review-order {
  width: 100%;
  margin-top: 10px;
  padding: 8px 0;
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
