.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  max-width: 85%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 2rem;
  padding-top: 6rem;
}
