.review-item {
  display: flex;
  gap: 1.5rem;
  width: 570px;
  border: 1px solid sandybrown;
  border-radius: 8px;
  padding: 8px;
}

.review-item img {
  width: 90px;
  height: 90px;
}

.review-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.review-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-details h5 {
  margin-bottom: 0;
  margin-top: 0;
}

.review-details p {
  margin-bottom: 0;
  margin-top: 5px;
}

.delete-icon {
  color: #eb1d36;
  cursor: pointer;
  background-color: rgba(235, 87, 87, 0.3);
  border-radius: 50%;
  padding: 5px 1px;
  margin-right: 12px;
  transition: all 0.3s ease-in-out;
}

.delete-icon:hover {
  background-color: rgba(235, 87, 87, 0.5);
}
