.header {
  height: 80px;
  background: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
}

.header a {
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
}

.header a:hover {
  color: orange;
}

.header a.active {
  color: orangered;
}
